.main-container {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    text-align: center;
}

.main-container p {
    font-size: 17vw; /* Adjust font size for responsiveness */
    max-width: 90%; /* Limit the maximum width */
    font-weight: 570;
    text-align: right;
    line-height: 1;
 
}