.main-container {
    display: flex;
    height: 60vh;
    align-items: center; 
    justify-content: flex-end; 
    text-align: center;
    margin-top: 45px;
}

.main-container p {
    font-size: 15vw;
    max-width: 90%; 
    font-weight: 700;
    text-align: right;
    line-height: 1;
    align-items: center;
 
}