.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: flex;
    gap: 60px; /* Reduce the gap between menu items */
    font-size: 1.8vw;
}
.menu-list p {
    position: relative;
}

.menu-list p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 0; 
    height: 1px; 
    background-color: #333; 
    transition: width 0.6s ease;
}

.menu-list p:hover::after {
    width: 100%; 
}
@media screen and (max-width: 468px) {
    .menu-list {
        gap: 30px; /* Reduce the gap between menu items for smaller screens */
    }
}